<div class="header">
    <div class="user">
        <p>{{post.user}}</p>
    </div>
    <div class="exit">
        <i class="bi bi-x-circle" (click)="closeDialog()"></i>
    </div>
</div>
<mat-dialog-content class="containerImg">
    <div class="img">
        <img [src]="post.img">
    </div>
</mat-dialog-content>
<div class="post_icons">
    <ul>
        <li><i class="bi bi-heart"></i></li>
        <li><i class="bi bi-chat"></i></li>
        <li><i class="bi bi-trash3-fill text-danger"></i></li>
        <li><i class="bi bi-pencil"></i></li>
    </ul>
</div>