<div class="mycontainer">
    <div class="subcontainer">
        <div class="registercontainer">
            <div class="title">
                <h1>Socializate</h1>
            </div>
            <div class="registerForm">
                <form (ngSubmit)="save()" [formGroup]="myForm">
                    <div class="firstCol">
                        <div class="form-field">
                            <label for="username">Username<span class="required">*</span></label>
                            <input type="text" class="username" name="username" formControlName="username" required>
                            <small class="errorHelper" *ngIf="isValid('username')">Username is required</small>
                        </div>
                        <div class="form-field">
                            <label for="password">Password<span class="required">*</span></label>
                            <input type="password" class="password" name="password" formControlName="password" required>
                            <small class="errorHelper" *ngIf="isValid('password')">Password is short</small>
                        </div>
                        <div class="form-field">
                            <label for="repeatpassword">Repeat Password<span class="required">*</span></label>
                            <input type="password" class="repeatpassword" name="repeatpassword" formControlName="repeatPass" required>
                            <small class="errorHelper" *ngIf="isSamePassword()">Password isn't same</small>
                        </div>
                        <div class="form-field">
                            <label for="name">Email<span class="required">*</span></label>
                            <input type="email" class="email" name="email" formControlName="email">
                            <small class="errorHelper" *ngIf="isValid('email')">Email isn't valid</small>
                        </div>
                        <div class="form-field">
                            <label for="name">Name<span class="required">*</span></label>
                            <input type="text" class="name" name="name" formControlName="name">
                            <small class="errorHelper" *ngIf="isValid('name')">Name is required</small>
                        </div>
                    </div>
                    <div class="confirm-conditions">
                        <input type="checkbox" name="conditions" class="conditions" formControlName="conditions">
                        <span> I have read and accepted the Conditions</span>
                    </div>
                    <div class="formDown">
                        <button type="submit" class="button buttonSubmit" [disabled]="myForm.invalid">Register</button>
                        <span class="texthelper">OR</span>
                        <span class="alreadyAccount">Have you already account? <a [routerLink]="['/login']">Log In</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
