.mycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.postcontainer {
    flex: 1;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer {
    width: 70%;
}

@media only screen and (max-width:480px) {
    .mycontainer {
        align-items: center;
    }

    .footer {
        width: 100%;
    }
}