.mycontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.postcontainer {
    flex: 1;
}

.container_footer {
    display: flex;
    justify-content: center;
}

.footer {
    width: 70%;
}