<div class="title">
    <h3>Users</h3>
</div>
<p-table [columns]="cols" [value]="users" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 15, 20]"
    [totalRecords]="totalRecords" [pageLinks]="3">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-user>
        <tr>
            <td *ngFor="let col of cols" enabled="col.enabled" user="col">
                {{rowData[col.field]}}
            </td>
            <button *ngIf="user.enabled" type="button" class="btn btn-danger" (click)="enabledUser(user)">Disabled</button>
            <button *ngIf="!user.enabled" type="button" class="btn btn-success" (click)="enabledUser(user)">Enabled</button>
        </tr>
    </ng-template>
</p-table>