.mycontainer {
    display: flex;
}

.sidebarcontainer {
    display: flex;
    align-items: center;
    width: auto;
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 999999;
    flex: 1;
}

.sidebar {
    height: 100%;
    overflow-y: auto
}

.arrowcontainer {
    display: none;
}

.routes {
    width: 100%;
}

@media only screen and (max-width:480px) {
    .sidebarcontainer {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 50%;
        transform: translateX(-94%);
        height: 100vh;
        transition: 250ms;
    }

    .sidebarcontainerOpen {
        width: 50%;
        height: 100vh;
        transform: translateX(0);
    }

    .routes {
        width: 100%;
        margin-left: auto;
    }

    .routesFilter {
        filter: blur(4px);
    }
}