.mycontainer {
    display: flex;
}

.sidebarcontainer {
    display: flex;
    align-items: center;
    width: 15%;
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 99;
}

.arrowcontainer {
    display: none;
}

.routes {
    width: 100%;
}

@media only screen and (max-width:480px) {
    .sidebarcontainer {
        transform: translateX(-90%);
        width: 50%;
        position: fixed;
        transition: 250ms;
    }

    .sidebarcontainerOpen {
        transform: translateX(0);
    }

    .arrowcontainer {
        display: flex;
        align-items: center;
        background-color: #4473ff;
        width: 2.5em;
        height: 40px;
        border-radius: 0 100% 100% 0;
    }
    
    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 10%;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .arrowClose {
        margin-left: 20%;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .routes {
        width: 97%;
        margin-left: auto;
    }

    .routesFilter {
        filter: blur(4px);
    }
}