.container {
    background-color: #4473ff;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.followinfo {
    display: flex;
    justify-content: center;
}

.container_routes {
    display: flex;
    justify-content: center;
}

.welcome {
    text-align: center;
}

.welcome > p > span {
    font-weight: bolder;
}

.profile {
    margin: 15px 0 10px;
    width: 120px;
    height: 90px;
    border-radius: 100%;
    object-fit: fill;
}

.followed {
    margin-bottom: 0;
}

hr {
    color: rgb(255, 255, 255);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding-bottom: 15px;
}

li > a {
    color: white;
    text-decoration: none;
}

a > i {
    padding-right: 10px;
}

.button {
    border: none;
    width: 80%;
    border-radius: 4px;
    background-color: white;
    color: #4473ff;
    padding: 4px;
}

@media only screen and (max-width: 560px) {
    .container {
        position: relative;
    }

    .container::before {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        background-color: black;
        width: 30px;
        height: 30px;
    }
}