<div class="mycontainer">
    <div class="containerImg">
        <form (ngSubmit)="uploadPost()" [formGroup]="myForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="description" cols="30" rows="5" formControlName="description"></textarea>
            </div>
            <div class="form-group">
                <label for="category">Category<span class="requiredField">*</span></label>
                <small class="infoMessage">(You must choose at least 1 category)</small>
                <select class="category" name="category" (change)="addCategory($event)" [formControl]="newCategory">
                    <option *ngFor="let category of categoriesForm" [value]="category.id">
                        {{ category.name }}
                    </option>
                </select>
                <div *ngFor="let category of addedCategories;">
                    <span>{{ category }}</span>
                </div>
                <small class="errorMessage" *ngIf="isValidField('categories')">You must select at least 1 category</small>
            </div>
            <div class="dropzone">
                <input type="file" id="fileDropRef" formControlName="img" (change)="onFileChange($event)" />
                <h3>Drag and drop file here</h3>
                <h3>or</h3>
                <label for="fileDropRef">Browse for file</label>
            </div>
            <small class="errorMessage" *ngIf="isValidField('img')">The image is required</small>
            <div class="file">
                <div class="info">
                    <h4 class="name">
                        <i class="bi bi-check-lg" *ngIf="uploaded"></i>{{ file?.name }}
                    </h4>
                </div>
            </div>
            <div class="formButtons">
                <button type="submit" class="submitButton">Upload</button>
                <button type="button" class="cancelButton" (click)="closeDialog()">Cancel</button>
            </div>
        </form>
    </div>
</div>