.contain {
    width: 30vw;
}

.description {
    cursor: default;
    padding: 0 0 0.5em;
    margin-bottom: 0.3em;
    border-bottom: solid 1px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.deploy-description {
    max-height: fit-content !important;
    overflow-wrap: break-word;
}

.container-my-comment, .comment-user {
    border: solid 1px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 5px;
    flex: 1;
}

.container-comment {
    display: flex;
}

.my-comment {
    flex: 1;
    width: 85%;
}

.comment-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px;
    padding: 0.5em;
}

.comment-icons ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    gap: 0.6em;
}

.comment-icons ul i {
    cursor: pointer;
    font-size: 18px;
}

.comment {
    width: 100%;
    overflow-wrap: break-word;
}

.comment .username {
    font-weight: bolder;
}

.formTextArea {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5em;
}

.commentTextArea {
    width: 100%;
    height: 100%;
    margin-right: 2%;
}

.sendButton {
    background-color: #4473ff;
    padding: 5px 15px 5px 15px;
    color: white;
    border: none;
    border-radius: 3px;
}

.uploadDateComment {
    font-size: 0.8em;
}

@media only screen and (max-width:541px) {
    .contain {
        width: 90vw;
    }
}

@media only screen and (min-width:541px) and (max-width: 920px) {
    .contain {
        width: 70vw;
    }
}