<div class="row">
    <div class="column">
        <div class="add_post">
            <div class="blur_background"></div>
            <i class="bi bi-plus-square" data-toggle="tooltip" data-placement="bottom" title="Add Post" (click)="openDialog()"></i>
        </div>
    </div>
    <div class="column" *ngFor="let post of posts;">
        <div class="gallery-container">
            <img [src]="post.img">
        </div>
        <div class="post_icons">
            <ul>
                <li *ngIf="!isLikedPost(post.id);else liked"><i class="bi bi-heart" (click)="giveLike(post)"></i></li>
                <ng-template #liked>
                    <li><i class="bi bi-heart-fill" (click)="removeLike(post)"></i></li>
                </ng-template>
                <li><i class="bi bi-chat" (click)="openCommentDialog(post.id)"></i></li>
                <li><i class="bi bi-trash3-fill text-danger" (click)="deletePost(post.id)"></i></li>
                <li><i class="bi bi-pencil"></i></li>
            </ul>
        </div>
    </div>
</div>