<div class="row">
    <div class="column">
        <div class="add_post">
            <div class="blur_background"></div>
            <i class="bi bi-plus-square" data-toggle="tooltip" data-placement="bottom" title="Add Post" (click)="openDialogUpload()"></i>
        </div>
    </div>
    <div class="column" *ngFor="let post of posts; index as i" (mouseenter)="changeState(i)" (mouseleave)="changeState(i)">
        <div class="gallery-container">
            <div class="image">
                <img [src]="post.img">
            </div>
        </div>
        <div class="post_icons" [@visibleIcons]="state[i]">
            <ul>
                <li><i class="bi bi-heart"></i></li>
                <li><i class="bi bi-chat"></i></li>
                <li><i class="bi bi-trash3-fill text-danger"></i></li>
                <li><i class="bi bi-pencil"></i></li>
            </ul>
        </div>
    </div>
</div>