.row{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.column{
    flex-basis: 33.3%;
    padding: 5px;
    margin-bottom: 30px;
    max-width: 26.301875em;
    min-height: 19em;
    max-height: 19em;
}

.add_post {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.blur_background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(187, 187, 187);
    filter: blur(5px);
    z-index: -1;
}

.bi-plus-square {
    z-index: 111;
    font-size: 2.2em;
    cursor: pointer;
}

.gallery-container {
    height: 100%;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9;
    object-fit: fill;
    border-radius: 4px;
    background-color: white;
}

.post_icons > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    gap: 1em;
}

.post_icons > ul i {
    cursor: pointer;
    font-size: 20px;
}

.likesCount {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.bi-heart-fill {
    color: red;
}

.containerComment {
    border: solid 1px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 5px;
}

.comment .username {
    font-weight: bolder;
}

.formTextArea {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5em;
}

.commentTextArea {
    width: 100%;
    height: 100%;
    margin-right: 2%;
}

.sendButton {
    background-color: #4473ff;
    padding: 5px 15px 5px 15px;
    color: white;
    border: none;
    border-radius: 3px;
}

.uploadDateComment {
    font-size: 0.8em;
}

@media only screen and (max-width:542px) {
    .column {
        flex-basis: 100%;
        max-height: 16em;
    }
}

@media only screen and (min-width: 542px) and (max-width:850px) {
    .column {
        flex-basis: 50%;
    }
}