<div class="mycontainer">
    <div class="d-flex justify-content-center">
        <h3>Home</h3>
    </div>
    <div class="postcontainer">
        <div class="post" *ngFor="let post of posts">
            <div class="post_header">
                <div class="username">
                    <span>{{ post.user }}</span>
                </div>
                <div class="buttonUnfollow">
                    <button class="followsButton" (click)="unfollowUser(post.user)">Unfollow</button>
                </div>
            </div>
            <div class="containerImg">
                <img [src]="post.img">
            </div>
            <div class="post_icons">
                <ul>
                    <li class="likesCount" (click)="openLikesDialog(post)" pTooltip="View likes">{{ post.likes.length }}</li>
                    <li *ngIf="!isLikedPost(post.id);else liked"><i class="bi bi-heart" (click)="giveLike(post)"></i></li>
                    <ng-template #liked>
                        <li><i class="bi bi-heart-fill" (click)="removeLike(post)"></i></li>
                    </ng-template>
                    <li><i class="bi bi-chat" (click)="openCommentDialog(post.id)"></i></li>
                </ul>
            </div>
        </div>
    </div>  
    <app-footer class="footer"></app-footer>
</div>
