.mycontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
}

.postcontainer {
    flex: 1;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 10px 0 30px;
}

.post-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttonUnfollow {
    flex: 1;
}

.post_header_info {
    display: flex;
    margin-bottom: 3px;
    width: 60%;
}

.post-header .followsButton {
    background-color: #4473ff;
    color: white;
    border-radius: 4px;
    border: none;
}

.username {
    margin-right: 2%;
    text-align: left;
}

.username > p {
    margin: 0;
    font-weight: bolder;
    font-size: 16px;
}

.post_icons {
    margin-top: 10px;
    width: 58%;
}

.post_icons > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.post_icons > ul i {
    cursor: pointer;
    font-size: 22px;
    margin-right: 20px;
}

.bi-heart-fill {
    color: red;
}

.containerImg {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img {
    width: 60%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container_footer {
    display: flex;
    justify-content: center;
}

.footer {
    width: 70%;
}

.containerComment {
    border: solid 1px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 5px;
}

.comment .username {
    font-weight: bolder;
}

.formTextArea {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5em;
}

.commentTextArea {
    width: 100%;
    height: 100%;
    margin-right: 2%;
}

.sendButton {
    background-color: #4473ff;
    padding: 5px 15px 5px 15px;
    color: white;
    border: none;
    border-radius: 3px;
}

.uploadDateComment {
    font-size: 0.8em;
}