/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  z-index: 9999999999 !important;
}
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.errorMessage, .requiredField {
  color: red;
}
